:root{
    --bakgrunn:#EEEDE7;
    --boxfarge:#B9B7BD;
    --navfarge:#E7D2CC;
    --textfarge-primary:#23232e;
    --textfarge-secondary:#868B8E;
    --quote: #dbbdb3;
}
/*Smooth scroll */
* {
    scroll-behavior: smooth;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
/*Hele Body */
body {
    background-image:linear-gradient(var(--bakgrunn) 50%,#f5ded7);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Hele Dokumentet */

.background {
    position: absolute;
    z-index: -1;
    background: linear-gradient(#dbbdb3,var(--quote), var(--bakgrunn)); 
    width: 100vw;
    height: 1000px;
    
}
.main-container {
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 2rem;
}
main {
    margin-bottom: 10rem;
}


/*Hele Nav */
.nav-liste{
    margin: 0;
    padding: 1rem;
   margin-bottom:10rem;
    justify-content: flex-end;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/*Navbar linker */
.nav-item{
    margin-right: 2rem;
    align-self: center;
}
/*Logo*/
.nav-item:first-child{
    margin-right: auto;
}
/*Nav-Text */
.nav-item a {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--textfarge-primary);
    text-decoration: none;
}
/* Når man Hover over nav*/
nav a:hover {
    color: var(--textfarge-secondary);
}
/* */
nav > ul > li {
    display: inline-block;
}

/*Header 1 */
h1 {
    text-align: center;
    font-family: monospace;
    color: #232323;
    font-size: 25rem;
    margin-bottom: 4rem;
    opacity: 0.2;
    z-index: -1;
}


h2{
    font-size: 2rem;
}
/*Paragraf (Text)*/
p {
    font-size: 1.5rem;
    max-width: 70ch;
    line-height: 30px;
}
/*Velkommen tekst */
.welcome-text {
    font-size: 2rem;
    max-width: 70ch;
    line-height: 3rem;
    margin-bottom: 15rem;
}

#our-courses-title{
    font-weight: 500;
    font-size: 44px;
}
/*

    Grid på framside med Preview av text

*/

#essay-section-1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
}


.grid-test {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;
    
    
    */
    grid-gap: 2.5rem;
    margin-bottom: 3rem;
    
}


#our-courses-title {
    text-align: center;
    margin-bottom: 4rem;

}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    position: relative;
    padding: 2rem;
    justify-items: center;
    min-height: 300px;
    justify-content: space-around;
    background-color: #e7d2cc;
    color: --var(--textfarge-primary);

}

.card > svg {
    background-color: #232323;
    padding: 1rem;
    color: var(--navfarge);
    position: absolute;
    width: 50px;
    top: -40px;
    align-self: center;
    border-radius: 50%;

}


.card > p {

    font-size: 1rem;

}

.card > h3 {
    align-self: center;
}

.card > a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: var(--textfarge-primary);
    color:#EEEDE7;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    width: 90%;
    text-align: center;
    opacity: 0.7;
    transition: opacity 1s ease-in-out;
}
.card > a:hover{
    opacity: 1.0;
    transition: opacity .15s ease-in-out;
    
}

/*
  SLUTT! Grid på framside med fag
*/

.info-main p {
    font-size: 1.2rem;
}

.info1, .info2{
    margin-bottom: 8rem;
}

.info-main a {
    color: var(--textfarge-primary);
    text-decoration: none;
}

.info-main a:hover {
    color: var(--navfarge);
}
.article-intro {
    display: grid;
    grid-template-columns: 40% 1fr;
}

.article-intro > figure {
    align-self: center;
    width: 100%;
}

.article-intro > p {
   /* align-self: center; */
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic;
}

.article-figure > img {
    align-self: flex-start;
    width: 100%;
}

blockquote {
    background: var(--navfarge);
    display: inline-block;
    font-size: 35px;
    color: #3d3d41;
    margin-left: 0;
    border-left: 10px solid var(--quote);
    font-style: italic;
    padding: 1rem;
    width: 70%;
}

.reflection section{
    margin-bottom: 50px;
}

@media screen and (max-width:1100px) {

.article-intro {

    display: grid;
    grid-template-columns: none;
  

}

}


@media screen and (max-width:700px) {
    
   .main-container {
    width: 90%; 
    
    }

    .grid-test {

        grid-template-columns: none;
           
    }
    
    nav > ul {
        flex-direction: column;
        gap: 0.6rem;
    }
    nav {
        padding: 1rem;
    }
    nav  a {
        font-size:  1.4rem;
    }

    p {
        margin-left: 0;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        margin-left: 0;
    }
 
}