:root{
    --bakgrunn:#EEEDE7;
    --boxfarge:#B9B7BD;
    --navfarge:#E7D2CC;
    --textfarge-primary:#23232e;
    --textfarge-secondary:#868B8E;
}

* {
    scroll-behavior: smooth;
}

body {
    background-image:linear-gradient(var(--bakgrunn),#f5ded7);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container {
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 2rem;
}
main {
    margin-bottom: 10rem;
}



/*Hele Nav */
.nav-liste{
    margin: 0;
    /*padding: 1rem;*/
    margin-bottom: 10rem;
    justify-content: flex-end;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/*Navbar linker */
.nav-item{
    margin-right: 2rem;
    align-self: center;
}
/*Logo*/
.nav-item:first-child{
    
    margin-right: auto;
   /* margin-left: 2rem;*/
}
/*Nav-Text */
.nav-item a {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--textfarge-primary);
    text-decoration: none;
}
/* Når man Hover over nav*/
nav a:hover {
    color: var(--textfarge-secondary);
}
/* */
nav > ul > li {
    display: inline-block;
}
h1 {
    font-family: monospace;
    color: #232323;
    font-size: 5rem;
    text-decoration: underline;
    margin-bottom: 4rem;
    text-align: center;

}

h2 {
    max-width: 70ch;
}




p {
    font-size: 1.5rem;
    max-width: 70ch;
   

}

.welcome-text {

    font-size: 2rem;
    max-width: 70ch;
    line-height: 3rem;

}



/*

    Grid på framside med fag

*/
#essay-section-1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
}


.grid-test {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    
}


#our-courses-title {
    text-align: center;
    margin-bottom: 4rem;

}
.card {
    margin-top: 40px;

    position: relative;
    padding: 1rem;
    display: grid;
    grid-template-rows: 3rem 3rem 1fr 3rem;
    justify-items: center;
    min-height: 300px;
    justify-content: space-around;
    background-color: #e7d2cc;
    color: --var(--textfarge-primary);

}

.card > svg {
    position: absolute;
    width: 80px;
    top: -40px;

}


.card > p {

    font-size: 1rem;

}

.card > h3 {
    justify-self: center;
}




/*
  SLUTT! Grid på framside med fag
*/

.info-main {
   /*text-align: center;*/
}

.info1 {
    margin-bottom: 4rem;
}

.info-main a {
    color: var(--textfarge-primary);
    text-decoration: none;
}

.info-main a:hover {
    color: var(--navfarge);
}

.article-figure {
    position: relative;
    right: -10rem;
    margin: 4rem auto;
}

.article-figure > img {

    width: 100%;
}

@media screen and (max-width:700px) {
    
   .main-container {
    width: 90%; 
}
    nav > ul {
        flex-direction: column;
        gap: 0.6rem;
    }
    nav {
        padding: 1rem;
    }
    nav  a {
        font-size:  1.4rem;
    }

    p {
        margin-left: 0;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        margin-left: 0;
    }
    .article-figure {
        position: relative;
        right: -2rem;
    }
}