:root{
    --bakgrunn:#EEEDE7;
    --boxfarge:#B9B7BD;
    --navfarge:#E7D2CC;
    --textfarge-primary:#23232e;
    --textfarge-secondary:#868B8E;
}
/*Smooth scroll */
* {
    scroll-behavior: smooth;
}
/*Hele Body */
body {
    background-image:linear-gradient(var(--bakgrunn),#f5ded7);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Hele Dokumentet */
.main-container {
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 2rem;
}
main {
    margin-bottom: 10rem;
}

nav {
    height: 10vh;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: #23232e;
    text-decoration: none;
    font-size: 16px;
  }
  

/*Header 1 */
h1 {
    font-family: monospace;
    color: #232323;
    font-size: 5rem;
    text-decoration: underline;
    margin-bottom: 4rem;
}
/*Paragraf (Text)*/
p {
    font-size: 1.5rem;
    max-width: 70ch;
}
/*Velkommen tekst */
.welcome-text {
    font-size: 2rem;
    max-width: 70ch;
    line-height: 3rem;
    margin-bottom: 15rem;
}


/*

    Grid på framside med Preview av text

*/

#essay-section-1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
}


.grid-test {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    
}


#our-courses-title {
    text-align: center;
    margin-bottom: 4rem;

}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    position: relative;
    padding: 2rem;
    justify-items: center;
    min-height: 300px;
    justify-content: space-around;
    background-color: #e7d2cc;
    color: --var(--textfarge-primary);

}

.card > svg {
    background-color: #232323;
    padding: 1rem;
    color: var(--navfarge);
    position: absolute;
    width: 50px;
    top: -40px;
    align-self: center;
    border-radius: 50%;

}


.card > p {

    font-size: 1rem;

}

.card > h3 {
    align-self: center;
}

.card > a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: var(--textfarge-primary);
    color:#EEEDE7;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    width: 90%;
    text-align: center;
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.card > a:hover{
    opacity: 1.0;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
}

/*
  SLUTT! Grid på framside med fag
*/

.info-main h2{
    font-size: 2rem;
}

.info-main p {
    font-size: 1.2rem;
}

.info1, .info2{
    margin-bottom: 8rem;
}

.info-main a {
    color: var(--textfarge-primary);
    text-decoration: none;
}

.info-main a:hover {
    color: var(--navfarge);
}





.article-intro {

    display: grid;
    grid-template-columns: 40% 1fr;
  

}

.article-intro > figure {
    align-self: center;
    width: 100%;
}

.article-intro > p {
   /* align-self: center; */
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic;
}

.article-figure > img {
    align-self: flex-start;
    width: 100%;
}


@media screen and (max-width:1100px) {

.article-intro {

    display: grid;
    grid-template-columns: none;
  

}

}


@media screen and (max-width:700px) {
    
   .main-container {
    width: 90%; 
    
    }

    .grid-test {

        grid-template-columns: none;
           
    }
    
    .line {
        width: 30px;
        height: 3px;
        background: #23232e;
        margin: 5px;
      }
      nav {
        position: relative;
      }
    
      .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
      }
    
      .nav-links {
        position: fixed;
        background: #EEEDE7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
      }
      .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
      }
      .landing {
        flex-direction: column;
      }
      .nav-links li {
        opacity: 0;
      }
      .nav-links li a {
        font-size: 25px;
      }
      .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      li.fade {
        opacity: 1;
      }

    p {
        margin-left: 0;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        margin-left: 0;
    }
 
}