body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background-image: linear-gradient(var(--background) 50%, #f5ded7);
  }
  body::-webkit-scrollbar-thumb {
    background:var(--dark-color);
  }