
.article-intro {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 2rem;
    margin: 4rem 0;

}

.text-article blockquote {
    display: inline-block;
    margin: 1.5rem 10px;
    padding: 0.5em 10px;
    color: #3d3d41;
    background: var(--navfarge);
    font-size: 2rem;
    border-left: 10px solid var(--quote);
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";
    max-width: 690px;
}

blockquote p {
    display: inline;
    font-size: 30px;
}

blockquote::before {
    color: var(--quote);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}
/*
blockquote::after {
    color: var(--quote);
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}*/

.text-article h2 {
    margin-top: 4rem;
    margin-bottom: 1.2rem;
}

.text-article a {
    color: var(--textfarge-primary);
    text-decoration: none;
}

.text-article a:hover {
    color: var(--navfarge);
}




.article-intro > p {
    align-self: center; 
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: italic;
}

.article-intro > figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
    align-self: center;
    
}

.article-intro > figure > img {
    align-self: flex-start;
    width: 100%;
}
