:root {
    --codegreen: rgb(58,190,68);
}

body {
    font-family: 'Courier', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
  
body::-webkit-scrollbar-thumb {
    background-color: #23232e;
}

/* ==================================================
    Styles navigation
   ==================================================*/
nav {
    text-align: center;
    padding: 1rem;
    background-color: var(--codegreen);
}

nav a {
   color: #111111;

}

a {
    color: var(--codegreen);

}

/* ==================================================
    Styles all the different sections
   ==================================================*/
section {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 50px 1fr 50px;
    min-height: 80vh;
    width: 100%;
}

/*Styles text on the left side of each sections*/
.turn-text {
    align-self: center;
    font-size: 17px;
    font-weight: bold;
    grid-row-start: 3;
    grid-column-start:1;
    transform: scale(-1);
    writing-mode: vertical-rl;
}

/*Styles the titles*/
.title {
    color: var(--codegreen);
    font-size: 2rem;
    font-weight: bold;
    grid-row-start: 2;
    grid-column-start: 2;
    justify-self: center;
    margin: 0;
}

.title-hex {
    align-self: center;
    font-weight: bold;
    grid-column-start: 3;
    grid-row-start: 3;
    justify-self: center;
    transform: scale(-1);
    writing-mode: vertical-rl;
}

.content {
    align-self: center;
    display: flex;
    grid-column-start:2;
    grid-gap: 1rem;
    grid-row-start: 3;
    justify-self: center;
    width: 90%;
}
 
/*  Styles the content of each sections
   ==================================================*/
.content p {
    color: lightgrey;
    font-size: 1.2rem;
    max-width: 50ch;
}

.content img {
    width: 100%;
}

.content > * {
    margin: 0 auto;
}

/*Styles the circles at the top-right and bottom-left corners*/
.deco-box {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    justify-self: center;
    align-self: center;
    background-color:grey;
    grid-row-start: 1;
    grid-column-start: 3;
}

.deco-box:nth-of-type(2) {

    grid-row-start: 4;
    grid-column-start: 1;
}

/* ==================================================
    Styles first section
   ==================================================*/
#first {
    background-color: #111111;
    color: var(--codegreen);
    justify-content: center;
}

/*Styles picture and caption on first section*/
figure {
    width: 50%;
}

.green-text {
    color: var(--codegreen);
}

/* ==================================================
    Styles second section
   ==================================================*/
#second {
    background-color: #303030;
    background-image: url("img/WorldWideWeb.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--codegreen);
    position: relative;
}

#second > .content p {
    align-self: center;
    color:  white;
    font-size: 2rem;
    margin: 0 auto;
    z-index: 10;
    font-weight: normal;
    line-height: 2.5rem;
}

/*Styles pictures in the second section that overflows to the third section*/
#second img {
    width: 45%;
    position: absolute;
    right: 4rem;
    bottom: -15%;
}

/* ==================================================
    Styles third section
   ==================================================*/
#third {
    background-color: #111111;
    color: var(--codegreen);
}

#third img {
    margin: 0 auto;
    width: 70%;
}

#third .content > p {
    margin-top: 3rem;
    width: 50%;
}

/* ==================================================
    Styles fourth section
   ==================================================*/
#fourth {
    background-color: #202020;
    color: var(--codegreen);
    position: relative;
    align-items: center;
}

#fourth .content, .title-hex {
    flex-direction: column;
    z-index: 1;
}

#fourth .turn-text, 
#fourth .title,
#fourth .deco-box {
    z-index: 1;
}

#fourth img {
    opacity: 0.5;
    margin: 0 auto;
}

#fourth video {
    margin-bottom: -5px; /*To remove the white border that shows up under the video*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

@media screen and (max-width: 700px) {

    section {
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 20px 50px 1fr 20px;
     
    }

    .content {
      
        flex-direction: column;
        justify-self: center;
     
    }

    .content figure {
        width: 90%;
        margin-inline-start: 0;
    }

    #second > .content p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        max-width: 100%;
    }
    
    #second img {
        bottom: -10%;
        right: 2.5rem;
        width: 75%;
    }

    .turn-text,.title-hex {
        font-size: 12px;
    }
}
  