
.our-courses-section {
    width: 70%;
  }
  

#our-courses-title{
    font-weight: 500;
    font-size: 2rem;
}

#welcome-text {
    width: 80%;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 15rem;
    
  }
  

/*

    Grid på framside med Preview av text

*/

.information-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
    margin-bottom: 3rem;
}

.information-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    position: relative;
    padding: 2rem;
    justify-items: center;
    min-height: 300px;
    justify-content: space-around;
    background-color:#365465ff;
    opacity: 1;

}

#our-courses-title {
    text-align: center;
    margin-bottom: 4rem;

}
.information-card > svg {
    background-color:#393E46;
    padding: 1rem;
    color: #EEEEEE;
    position: absolute;
    width: 50px;
    top: -40px;
    align-self: center;
    border-radius: 50%;

}
.information-card > p {
    /*color: #393E46;*/
    color: white;
    font-size: 1rem;

}
.information-card > h3 {
    align-self: center;
    color: white;
}
.information-card > a {
    display: inline-block;
    padding: 1rem 0;
    background: #393E46;
    color:#EEEDE7;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    width: 90%;
    text-align: center;
    opacity: 0.7;
    transition: opacity 1s;
}
.information-card > a:hover{
    opacity: 1.0;
    color:#00ADB5;
    transition: opacity .15s ease-in-out;
}
.fadein{
    animation: fadein 3s both;
}
@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
} 
.fadeout{
    animation: fadeout 3s both;;
}
@keyframes fadeout{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (max-width: 700px) {


  #welcome-text {
    width: 95%;
    font-size: 2rem;
    line-height: 2.5rem;
   /* margin-top: 4rem;*/
}

.information-cards-container {
    grid-template-columns: none;
  }


}
