:root {
  --bakgrunn: #eeede7;
  --boxfarge: #b9b7bd;
  --navfarge: #e7d2cc;
  --textfarge-primary: #23232e;
  --textfarge-secondary: #868b8e;
  --quote: #dbbdb3;
  --link: #3e55b9;
  --linkvisited: #b31818;
}

* {
  scroll-behavior: smooth;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  margin: 0 auto;
  background-image: url("../img/background.png");
  background-color: var(--bakgrunn);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(var(--bakgrunn) 50%, #f5ded7);
}

body::-webkit-scrollbar-thumb {
  background:var(--textfarge-primary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* =======================================================
   Styles navigation bar
   =======================================================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem 0;
}

header #logo {
    width: 90px;
    margin-left: 1rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

/* Styles navigation menu links 
   =======================================================*/
.nav-item {
  display: inline-block;
  margin-right: 1rem;
  align-self: center;
}

/*Styles link for the page the user is on*/
.nav-active {
  color: rgb(0,154,243) !important;
}

.nav-item a {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--textfarge-primary);
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  color: var(--textfarge-secondary);
}

/* ========================================================
   Styles headers and paragraphs
   ========================================================*/
h1 {
  font-family: monospace;
  color: #232323;
  font-size: 4rem;
  margin-bottom: 2rem;
  z-index: -1;
  text-decoration: underline;
  text-decoration-color: #365465ff;
  text-underline-offset: 0.5rem;

}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* ==============================================================
   Styles welcome section on the main page
   ==============================================================*/
.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 2rem;
  margin-bottom: 10rem;
}

.welcome-section img {
  width: 70%;
}

#welcome-text {
  font-size: 2rem;
  margin-top: 4rem;
  width: 70%;
  margin: 0 auto;
}

/*Sets a border around picture on Accessibility page*/
.a-img {
  width: 50%;
  border: 2px solid black;
}

/* ==============================================================
   Styles screens smaller than 700px
   ==============================================================*/
@media screen and (max-width: 700px) {

  /*Replaces background picture with a cropped version*/
  body {
    background-image: url("../img/bkgd-small.png");
    background-size: 700px auto;
  }

  p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3rem;
  }

  /*Changes navigation bar to be displayed in a single column*/
  header {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  header #logo {
    width: 70px;
    align-self: start;
    margin: 0;
    margin-bottom: 1rem;
  }

  .nav-list {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    margin: 0;
  }

  nav {
  flex-direction: column;
  }

  /*Styles welcome section for smaller screens*/
  #welcome {
    width: 95%;
    margin: 0 auto;
  }
  
  .welcome-section img {
    width: 90%;
  }
}
