:root {
  --bakgrunn: #eeede7;
  --boxfarge: #b9b7bd;
  --navfarge: #e7d2cc;
  --textfarge-primary: #23232e;
  --textfarge-secondary: #868b8e;
  --quote: #dbbdb3;
  --link: #3e55b9;
  --linkvisited: #b31818;
}

* {
  scroll-behavior: smooth;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  margin: 0 auto;
  background-image: url("../img/background.png");
  background-color: var(--bakgrunn);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(var(--bakgrunn) 50%, #f5ded7);
}
body::-webkit-scrollbar-thumb {
  background:var(--textfarge-primary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 16rem;
  padding: 1rem 0;
}

header #logo {
    width: 90px;
    margin-left: 1rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  margin-right: 1rem;
  align-self: center;
}

.nav-active {
  color: rgb(0,154,243) !important;
}

.nav-item a {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--textfarge-primary);
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  color: var(--textfarge-secondary);
}



h1 {
  font-family: monospace;
  color: #232323;
  font-size: 4rem;
  margin-bottom: 2rem;
  z-index: -1;
  text-decoration: underline;
  text-decoration-color: #365465ff;
  text-underline-offset: 0.5rem;

}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}


.text-article img{
  width: 100%;
  /*
  margin-top: 15px;
  margin-bottom: 15px;
  */
  margin-bottom: 2rem;
}

/*
.text-article > h2 {
  align-self: flex-start;
}

.essay-img:not(:first-of-type) {
  margin-top: 20px;
  margin-bottom: 20px;
}*/






@media screen and (max-width: 700px) {
  body {
    background-image: url("/img/bkgd-small.png");
    background-size: 700px auto;
  }

 
 

  header {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }

header #logo {
    width: 70px;
    align-self: start;
    margin: 0;
    margin-bottom: 1rem;
}

.nav-list {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.nav-item {
  margin: 0;
}

.essay-img img{
  max-width: 100%;
}

nav {
  flex-direction: column;
}


  p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3rem;
  }

}
